.gamePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  color: var(--battleship-page-fg);
  background-color: var(--battleship-page-bg);
}

.gamePage > header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.75rem;
  margin-block-end: 1rem;
  border-block-end: 1px solid var(--battleship-page-bd);
}

.gamePage > header > * {
  margin-inline-start: 0.5rem;
}

.gamePage > main {
  display: block;
  text-align: center;
  overflow: auto;
}

.gamePage > main > .verticalLayout {
  position: relative;
  display: inline-block;
  margin-inline: 1rem;
  margin-block-end: 1rem;
  vertical-align: top;
  text-align: start;
  width: fit-content;
}

@media screen and (max-width: 420px) {
  .gamePage > main > .verticalLayout {
    margin-inline: 0;
  }
}

.gamePage > main > .verticalLayout > * {
  display: block;
}

.gamePage > main > .verticalLayout > .sunkShips {
  font-style: italic;
  margin-top: 0.25rem;
}

.gamePage > main h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
