.game-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  color: var(--battleship-page-fg);
  background-color: var(--battleship-page-bg);
}

.game-page > header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.75rem;
  margin-block-end: 1rem;
  border-block-end: 1px solid var(--battleship-page-bd);
}

.game-page > header > * {
  margin-inline-start: 0.5rem;
}

.game-page > main {
  display: block;
  text-align: center;
  overflow: auto;
}

.game-page > main > .vertical-layout {
  position: relative;
  display: inline-block;
  margin-inline: 1rem;
  margin-block-end: 1rem;
  vertical-align: top;
  text-align: start;
}

@media screen and (max-width: 420px) {
  .game-page > main > .vertical-layout {
    margin-inline: 0;
  }
}

.game-page > main > .vertical-layout > * {
  display: block;
}

.game-page > main > .vertical-layout > .sunk-ships {
  font-style: italic;
  margin-top: 0.25rem;
}

.game-page > main h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
