@import '../../styles/variables';

.select {
  color: var(--battleship-select-fg);
  background: var(--battleship-select-bg) var(--battleship-dropdown-arrow-svg) right 0.75rem
    center/0.625rem no-repeat;
  border-color: var(--battleship-select-bd);
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  outline: none;
  padding-inline-end: 1.75rem;
  cursor: pointer;
}

.select:hover {
  color: var(--battleship-select-hover-fg);
  background-color: var(--battleship-select-hover-bg);
  border-color: var(--battleship-select-hover-bd);
}

.select:focus {
  outline: 1px dotted var(--battleship-select-outline);
  outline-offset: calc(-1 * $focus-width - 2px);
}

.select > option {
  color: var(--battleship-select-option-fg);
  background-color: var(--battleship-select-option-bg);
}
