@import '../../styles/themes';

.select {
  border-color: var(--battleship-select-border-color);
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  outline: none;
}

.select:hover,
.select:focus {
  border-color: var(--battleship-select-outline-color);
  outline: 1px solid var(--battleship-select-outline-color);
}

// Remove unnecessary outline in Firefox
.select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--battleship-select-focusring-text-shadow-color);
}
