@import '../../styles/variables.scss';

.placedShip {
  position: absolute;
  border: 2px solid $ship-border-color;
  border-radius: 0.5rem;
  background-color: $ship-background-color;
  z-index: 1;
}
