@import '../../styles/themes';

.placedShip {
  position: absolute;
  border: 2px solid var(--battleship-ship-border-color);
  border-radius: 0.5rem;
  background-color: var(--battleship-ship-background-color);
  z-index: 1;
}
