.table-cell {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.table-cell.header-cell {
  text-align: center;
  background-color: var(--battleship-table-header-cell-bg);
}

.table-cell.header-cell > span {
  font-weight: bold;
  color: var(--battleship-table-header-cell-fg);
}

.table-cell.header-cell.small > span {
  font-size: 0.875rem;
}

.table-cell.header-cell.medium > span {
  font-size: 1rem;
}

.table-cell.header-cell.large > span {
  font-size: 1.125rem;
}

.table-cell .hit-forward-slash,
.table-cell .miss-forward-slash,
.table-cell .hit-backslash,
.table-cell .miss-backslash {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}

.table-cell .hit-forward-slash {
  background: linear-gradient(
    135deg,
    transparent calc(50% - 1px),
    var(--battleship-bombed-hit-bg) 50%,
    transparent calc(50% + 1px)
  );
}

.table-cell .hit-backslash {
  background: linear-gradient(
    45deg,
    transparent calc(50% - 1px),
    var(--battleship-bombed-hit-bg) 50%,
    transparent calc(50% + 1px)
  );
}

.table-cell .miss-forward-slash {
  background: linear-gradient(
    135deg,
    transparent calc(50% - 1px),
    var(--battleship-bombed-miss-bg) 50%,
    transparent calc(50% + 1px)
  );
}

.table-cell .miss-backslash {
  background: linear-gradient(
    45deg,
    transparent calc(50% - 1px),
    var(--battleship-bombed-miss-bg) 50%,
    transparent calc(50% + 1px)
  );
}

.table-cell button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.table-cell button:hover,
.table-cell button:focus,
.table-cell button:active {
  background-color: var(--battleship-table-active-cell-bg);
}
