@import '../../styles/variables';

.button {
  color: var(--battleship-button-fg);
  background-color: var(--battleship-button-bg);
  border-color: var(--battleship-button-bd);
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  color: var(--battleship-button-hover-fg);
  background-color: var(--battleship-button-hover-bg);
  border-color: var(--battleship-button-hover-bd);
}

.button:active {
  color: var(--battleship-button-active-fg);
  background-color: var(--battleship-button-active-bg);
  border-color: var(--battleship-button-active-bd);
}

.button:focus {
  outline: 1px dotted var(--battleship-button-outline);
  outline-offset: calc(-1 * $focus-width - 2px);
}

.button.primary {
  color: var(--battleship-primary-button-fg);
  background-color: var(--battleship-primary-button-bg);
  border-color: var(--battleship-primary-button-bd);
}

.button.primary:hover {
  color: var(--battleship-primary-button-hover-fg);
  background-color: var(--battleship-primary-button-hover-bg);
  border-color: var(--battleship-primary-button-hover-bd);
}

.button.primary:active {
  color: var(--battleship-primary-button-active-fg);
  background-color: var(--battleship-primary-button-active-bg);
  border-color: var(--battleship-primary-button-active-bd);
}

.button.primary:focus {
  outline: 1px dotted var(--battleship-primary-button-outline);
  outline-offset: calc(-1 * $focus-width - 2px);
}
