@import '../../styles/themes';

.button {
  cursor: pointer;
  white-space: nowrap;
  border-color: var(--battleship-button-border-color);
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: var(--battleship-button-background-color-hover);
  border-color: var(--battleship-button-outline-color);
  outline: 1px solid var(--battleship-button-outline-color);
}

.button:active {
  background-color: var(--battleship-button-background-color);
}

.button.primary {
  background-color: var(--battleship-primary-button-background-color);
  border-color: var(--battleship-primary-button-border-color);
  color: var(--battleship-primary-button-color);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--battleship-primary-button-background-color-hover);
  border-color: var(--battleship-primary-button-border-color-hover);
}

.button.primary:active {
  background-color: var(--battleship-primary-button-background-color);
}
