.configuration-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  color: var(--battleship-page-fg);
  background-color: var(--battleship-page-bg);
}

.configuration-page > header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-inline-end: 0.5rem;
  padding-block-end: 0.75rem;
  margin-block-end: 1rem;
  border-block-end: 1px solid var(--battleship-page-bd);
}

.configuration-page > header > * {
  margin-inline-start: 0.5rem;
}

.configuration-page > main {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  margin: 0 0.5rem;
}

.configuration-page > main > .ocean-grid {
  margin: 0 auto;
}

@media screen and (max-width: 512px) {
  .shuffleButton {
    display: none;
  }
}

@media screen and (min-width: 512px) {
  .shuffleIconButton {
    display: none;
  }
}

@media screen and (max-width: 512px) {
  .playButton {
    display: none;
  }
}

@media screen and (min-width: 512px) {
  .playIconButton {
    display: none;
  }
}

.configuration-page svg {
  fill: var(--battleship-icon-color);
}
