@use 'sass:string';

$escaping-characters: (('<', '%3c'), ('>', '%3e'), ('#', '%23'), ('(', '%28'), (')', '%29'));

@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);

  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace +
      str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }

  @return $string;
}

@function svg-url($svg) {
  @each $char, $encoded in $escaping-characters {
    $svg: str-replace($svg, $char, $encoded);
  }
  @return url('data:image/svg+xml,' + $svg);
}
