$white: #fff;
$black: #000;
$red: #f00;
$gray: #888;
$lighter-gray: #dfdfdf;
$lightest-gray: #eee;
$lightest-blue: #45b0fc;
$lighter-blue: #0368b0;
$dark-blue: #024e85;
$darker-blue: #042c49;
$darkest-blue: #021727;

$element-light-bd: #788497;
$element-dark-bd: #9fb6c6;

$focus-width: 1px;
