// color variables

$white: #fff;
$lightest_gray: #eee;
$lighter_gray: #ccc;
$light_gray: #aaa;
$gray: #888;
$dark_gray: #666;
$darker_gray: #444;
$darkest_gray: #222;
$teal: #f00;
$black: #000;
$blue-primary-color: #024e85;
$teal-primary-color: #066;

// common variables

$light-border-color: #dfdfdf;
$light-outline-color: #96b7ef;
