@import 'mixins';
@import 'svgs';
@import 'variables';

// light theme

$theme-map-light: (
  --battleship-page-fg: $black,
  --battleship-page-heading-fg: $dark-blue,
  --battleship-page-bg: $white,
  --battleship-page-bd: $lighter-gray,

  --battleship-button-fg: $black,
  --battleship-button-bg: rgba($element-light-bd, 0.08),
  --battleship-button-bd: $element-light-bd,
  --battleship-button-hover-fg: $black,
  --battleship-button-hover-bg: rgba($element-light-bd, 0.2),
  --battleship-button-hover-bd: $element-light-bd,
  --battleship-button-active-fg: $black,
  --battleship-button-active-bg: rgba($element-light-bd, 0.25),
  --battleship-button-active-bd: $element-light-bd,
  --battleship-button-outline: $lighter-blue,

  --battleship-primary-button-fg: $white,
  --battleship-primary-button-bg: $dark-blue,
  --battleship-primary-button-bd: $white,
  --battleship-primary-button-hover-fg: rgba($white, 0.8),
  --battleship-primary-button-hover-bg: $dark-blue,
  --battleship-primary-button-hover-bd: $white,
  --battleship-primary-button-active-fg: rgba($white, 0.6),
  --battleship-primary-button-active-bg: $dark-blue,
  --battleship-primary-button-active-bd: $white,
  --battleship-primary-button-outline: $white,

  --battleship-select-fg: $black,
  --battleship-select-bg: rgba($element-light-bd, 0.08),
  --battleship-select-bd: $element-light-bd,
  --battleship-select-hover-fg: $black,
  --battleship-select-hover-bg: rgba($element-light-bd, 0.2),
  --battleship-select-hover-bd: $element-light-bd,
  --battleship-select-outline: $lighter-blue,
  --battleship-select-option-fg: $black,
  --battleship-select-option-bg: $white,

  --battleship-bombed-hit-bg: $red,
  --battleship-bombed-miss-bg: $gray,

  --battleship-table-bd: $lighter-gray,
  --battleship-table-header-cell-fg: $dark-blue,
  --battleship-table-header-cell-bg: $lightest-gray,
  --battleship-table-active-cell-bg: $lightest-gray,

  --battleship-ship-bg: rgba($dark-blue, 0.2),
  --battleship-ship-bd: $dark-blue,

  --battleship-icon-color: $black,

  --battleship-dropdown-arrow-svg: dropdownArrowSvg($black),
);

:root {
  @include spread-map($theme-map-light);
}

// dark theme

$theme-map-dark: (
  --battleship-page-fg: $white,
  --battleship-page-heading-fg: $white,
  --battleship-page-bg: $darkest-blue,
  --battleship-page-bd: $lighter-gray,

  --battleship-button-fg: $white,
  --battleship-button-bg: rgba($element-dark-bd, 0.08),
  --battleship-button-bd: $element-dark-bd,
  --battleship-button-hover-fg: $white,
  --battleship-button-hover-bg: rgba($element-dark-bd, 0.2),
  --battleship-button-hover-bd: $element-dark-bd,
  --battleship-button-active-fg: $white,
  --battleship-button-active-bg: rgba($element-dark-bd, 0.25),
  --battleship-button-active-bd: $element-dark-bd,
  --battleship-button-outline: $lightest-blue,

  --battleship-primary-button-fg: $lightest-blue,
  --battleship-primary-button-bg: rgba(69, 176, 252, 0.1),
  --battleship-primary-button-bd: $lightest-blue,
  --battleship-primary-button-hover-fg: $lightest-blue,
  --battleship-primary-button-hover-bg: rgba(69, 176, 252, 0.2),
  --battleship-primary-button-hover-bd: $lightest-blue,
  --battleship-primary-button-active-fg: $lightest-blue,
  --battleship-primary-button-active-bg: rgba(69, 176, 252, 0.25),
  --battleship-primary-button-active-bd: $lightest-blue,
  --battleship-primary-button-outline: $lightest-blue,

  --battleship-select-fg: $white,
  --battleship-select-bg: rgba($element-dark-bd, 0.08),
  --battleship-select-bd: $element-dark-bd,
  --battleship-select-hover-fg: $white,
  --battleship-select-hover-bg: rgba($element-dark-bd, 0.2),
  --battleship-select-hover-bd: $element-dark-bd,
  --battleship-select-outline: $lightest-blue,
  --battleship-select-option-fg: $white,
  --battleship-select-option-bg: $darkest-blue,

  --battleship-bombed-hit-bg: $red,
  --battleship-bombed-miss-bg: $lighter-gray,

  --battleship-table-bd: $lighter-gray,
  --battleship-table-header-cell-fg: $white,
  --battleship-table-header-cell-bg: $darker-blue,
  --battleship-table-active-cell-bg: $darker-blue,

  --battleship-ship-bg: rgba($white, 0.8),
  --battleship-ship-bd: $lightest-blue,

  --battleship-icon-color: $white,

  --battleship-dropdown-arrow-svg: dropdownArrowSvg($white),
);

@media (prefers-color-scheme: dark) {
  :root {
    @include spread-map($theme-map-dark);
  }
}
